h1{
	width:200px;
	height: 70px;
	margin:10px ;
	padding:10px;
	text-align: center;
	background: #F4D03F;
	border-radius:50px;
}
h2{
	font-size: 32px;
	line-height: 1.25;
	color:#FAF099;
    font-family: "Bradley Hand", cursive;
}
h3{
	font-size: 25px;
    color: #fca84a;
    font-family: "Bradley Hand", cursive;
}
body{
	background: url("../Imagenes/super2.jpg");
    width: 100%;
    height: 100%;
	opacity: 7;
}
#e{
	width:200px;
	color: white;
	padding: 15px;
	border-radius: 15px;
	background-color: #0000ff;
}
#f{
    width:100px;
	color: white;
	padding: 15px;
	border-radius: 15px;
	background-color: #85C1E9;
}
#u{
	width:200px;
	color: white;
	padding: 15px;
	border-radius: 15px;
	background-color: #FF4040;
}
